*.class
*.exe

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/WebContent/protobuf/protocol
/build
*.log
src/server/tttt.java
src/server/tttt.java.BACKUP.11432.java
src/server/tttt.java.BACKUP.14824.java
src/server/tttt.java.BACKUP.17384.java
src/server/tttt.java.BASE.11432.java
src/server/tttt.java.BASE.14824.java
src/server/tttt.java.BASE.17384.java
src/server/tttt.java.LOCAL.11432.java
src/server/tttt.java.LOCAL.14824.java
src/server/tttt.java.LOCAL.17384.java
src/server/tttt.java.REMOTE.11432.java
src/server/tttt.java.REMOTE.14824.java
src/server/tttt.java.REMOTE.17384.java
