<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MiniWechat</display-name>

	<!-- 这里开始添加servlet的配置 -->
	<!-- <servlet>
		<servlet-name>TransferFile</servlet-name>
		<servlet-class>server_HTTP.ServletServer</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/Log4JConfig.properties</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferFile</servlet-name>
		<url-pattern>/TransferFile</url-pattern>
	</servlet-mapping> -->
	<!-- 结束servlet的配置 -->

	<!-- <listener> <listener-class>tools.MyListener</listener-class> </listener> -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- Spring配置 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
	</context-param>
</web-app>